<%= form_for(@confirm) do |f| %>
  <% if @confirm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirm.errors.count, "error") %> prohibited this confirm from being saved:</h2>

      <ul>
      <% @confirm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :companion %>
    <%= f.text_field :companion %>
  </div>
  <div class="field">
    <%= f.label :childs %>
    <%= f.hidden_field :childs %>
  </div>
  <div class="field">
    <%= f.label :allergic %>
    <%= f.text_area :allergic %>
  </div>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
