<%= form_for(@confirm) do |f| %>
  <% if @confirm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirm.errors.count, "error") %> prohibited this confirm from being saved:</h2>
      <ul>
      <% @confirm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="field-grid">
    <li class="field-grid-item">
      <div class="field -intro">
        <%= f.label :name %>
        <%= f.text_field :name, required: true %>
      </div>
    </li>
    <li class="field-grid-item">
      <div class="field -checkbox">
        <input id="companion-checkbox" type="checkbox" name="companion-checkbox" class="toggle-checkbox" />
        <label for="companion-checkbox">¿Tienes acompañante?</label>
      </div>
      <div class="field -toggle -hidden">
        <%= f.label :companion %>
        <%= f.text_field :companion %>
      </div>
    </li>
    <li class="field-grid-item">
      <div class="field -checkbox">
        <input id="childs-checkbox" type="checkbox" name="childs-checkbox" class="toggle-checkbox" />
        <label for="childs-checkbox">¿Tienes hijos?</label>
      </div>
      <div class="field -toggle -hidden">
        <%= f.label :childs %>
        <%= f.hidden_field :childs %>
      </div>
    </li>
    <li class="field-grid-item">
      <div class="field -checkbox">
        <input id="allergic-checkbox" type="checkbox" name="allergic-checkbox" class="toggle-checkbox" />
        <label for="allergic-checkbox">¿Eres alérgico a algún tipo de alimento?</label>
      </div>
      <div class="field -toggle -hidden">
        <%= f.label :allergic %>
        <%= f.text_area :allergic %>
      </div>
    </li>
    <li class="field-grid-item">
      <div class="field -checkbox">
        <input id="comment-checkbox" type="checkbox" name="comment-checkbox" class="toggle-checkbox" />
        <label for="comment-checkbox">Deja tu comentario</label>
      </div>
      <div class="field -toggle -hidden">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
      </div>
    </li>
    <li>
      <div class="actions">
        <%= f.submit %>
      </div>
    </li>
  </ul>


<% end %>
