<div class="m-countdown-box">
  <div class="m-countdown-numberbox m-countdown-days">
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <p>Días</p>
  </div>
  <div class="m-countdown-numberbox m-countdown-hours">
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <p>Horas</p>
  </div>
  <div class="m-countdown-numberbox m-countdown-minutes">
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <p>Minutos</p>
  </div>
  <div class="m-countdown-numberbox m-countdown-seconds">
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <div class="m-countdown-number"><ul>{{#each numbers}}<li>{{this}}</li>{{/each}}</ul></div>
    <p>Segundos</p>
  </div>  
</div>
