{{#each questions}}
<section id="m-section-home" data-tooltip="Home" class="m-section">
  <div class="m-section-box -text -fullscreen">
    <div class="content">
      <header>
        <h3 class="js-click-index" data-direction="prev">{{this.question.subtitle}}</h3>
        <h2 class="js-click-index" data-direction="next">{{this.question.title}}</h2>
      </header>
      <div class="info">
        <ul>
          {{#each this.question.options}}
          <li>
            <div class="field -radio1">
              <input class="question-radio" type="radio" name="question-radio" data-question="{{@index}}" id="question-{{@index}}">
              <label class="label-{{@index}}" for="question-{{@index}}"><span>{{this.title}}</span></label>            
            </div>
          </li>     
          {{/each}}       
        </ul>
      </div>
    </div>
  </div>
</section>
{{/each}}