<div class="m-location-categories">
  <h3>Selecciona tu plan</h3>
  <ul id="categoriesListView">
    {{#each this.categories}}
      <li class="{{this.category}}" data-category="{{this.category}}">
        <div class="field -checkbox">
          <input class="category-checkbox" type="checkbox" checked="checked" data-category="{{this.category}}" id="category-{{this.category}}">
          <label for="category-{{this.category}}">{{this.category_name}}</label>            
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<div class="m-location-list">
  <h3>Listado de planes</h3>
  <ul id="locationListView"></ul>
</div>