<div class="content">
  <header>
    <p><a class="js-location-close" href="#"><svg><use xlink:href="#icon-arrowleft"></use></svg> Volver a planes </a></p>
    <h2>{{this.name}}</h2>
    <h3>{{this.category_name}}</h3>
  </header>
  <div class="info">
    <p>{{this.description}}</p>
    <img src="/assets/home/new-york.jpg">
    <table class="m-table-plan">
      <tbody>
        {{#if this.address}}
          <tr>
            <td><strong>Dirección</strong></td>
            <td>{{this.address}}</td>
          </tr>
        {{/if}}
        {{#if this.phone}}
          <tr>
            <td><strong>Teléfono</strong></td>
            <td>{{this.phone}}</td>
          </tr>
        {{/if}}
        {{#if this.location}}
          <tr>
            <td><strong>Localización</strong></td>
            <td>{{this.location}}</td>
          </tr>
        {{/if}}
        {{#if this.schedule}}
          <tr>
            <td><strong>Horarios</strong></td>
            <td>{{this.schedule}}</td>
          </tr>
        {{/if}}
        {{#if this.price}}
          <tr>
            <td><strong>Tarifa</strong></td>
            <td>{{this.price}}</td>
          </tr>
        {{/if}}
        {{#if this.link}}
          <tr>
            <td><strong>Web</strong></td>
            <td><a href="{{this.link}}" target="_blank">Sitio web</a></td>
          </tr>
        {{/if}}
      </tbody>
    </table>    
  </div>
</div>
